body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 171%;
    background: white;
    color: black;
    cursor: none;
}

.cursor {
    position: absolute;
    background-color: black;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    z-index: 10000;
    transform: scale(1);
    user-select: none;
    pointer-events: none;
    transition: 0.3s ease-in-out transform, 0.2s ease-in-out opacity;
}

.cursor.active {
    opacity: 0.5;
    transform: scale(0);
}

.cursor.hovered {
    opacity: 0.08;
}

.cursor-follower {
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 10000;
    transform: translatex(5px, 5px);
    user-select: none;
    pointer-events: none;
    transition: 0.4s ease-in-out transform, 0.2s ease-in-out opacity;
}

.cursor-follower.active {
    transform: scale(3);
    border: none;
    background-color: gray;
    opacity: 0.1;
}

.cursor-follower.hovered {
    opacity: 0.08;
}

.couleurs-fond {
    padding: 10px;
}


/* COULEURS FOND AROMAZONE */

.antique {
    background-color: antiquewhite;
}

.yellow {
    background-color: #FCF0C8;
}

.rose {
    background-color: #FBDDD7;
}

.green {
    background-color: #B1F4D5;
}

/* COULEURS FOND BOOKIT */

.light-green {
    background-color: rgb(16, 198, 128, 0.4);
}

/* COULEURS FOND AROMAZONE */

.orange {
    background-color: rgb(255, 123, 20, 0.3);
    ;
}

/* PAGE PROJET BOOKIT */


.title-page {
    display: flex;
    justify-content: center;
    font-family: Orbitron;
    font-size: 3rem;
}

.bouton-prototype {
    padding: 14px 10px;
    font-size: 20px;
    border-radius: 1px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
    background-color: black;
}

.bouton-prototype:hover {
    color: black;
    border: 1px solid;
    background: transparent;
}

.article-projets {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.article-projets h2 {
    text-align: center;
}


.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 44px;
}

.button-proposition {
    display: flex;
    justify-content: space-around;
}

.button-next {}

.button-suivant a {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 100;
}

.button-suivant a:visited {
    color: black;
}

.button-suivant a:hover {
    color: black;
    text-decoration: underline;
    font-style: italic;
    transition-duration: 0.4s;
}

.image-bookit-intro {
    border-radius: 7px;
    height: 350px;
}

.image-article {
    border-radius: 7px;
    height: 543px;
}

.preview {
    height: 150px;
    width: 150px;
}

.fyi {
    font-weight: 800;
}

/* PAGE PROJET AROMAZONE */

.body-projet header {
    background-color: black;
}

.header {
    list-style: none;
    margin-top: 148px;
    position: sticky;
    top: 0;
    margin-left: 51px;
    padding: 14px;
}

.header a {
    text-decoration: none;
}

.header a:visited {
    color: black;
}

.header li {
    margin-right: 2 0px;
}

.main-aroma {
    display: flex;
}

.image-article-aroma {
    width: 100%;
}

@media screen and (max-width: 600px) and (min-width: 300px) {

    .logo {
        display: none;
    }

    .article-projets {
        width: auto;

    }

    .button-suivant a {
        font-size: 1rem;
    }

    footer p {
        font-size: 1rem;
    }
}